<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">

  <title>Preview</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <link href="../static/css/perview.css" rel="stylesheet" />

</head>
<div class="hero_area">

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box2">
      <div class="img-box">
        <img src="../static/images/front image.jpg" alt="">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
          
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{{url_for('index')}}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('upload')}}"> upload</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

    </header>

    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                   
                        <span>
                          Movie Recommendation
                        </span>
                      </h1>
                      <div class="btn-box">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
           Preview
          </h2>
        </div>
      </div>
      <div class="container">
      
        <body id="page-top">

          <!-- Navigation -->
          
        
        
          <!-- Contact Section -->
          <section class="page-section" id="contact">
            <div class="container">
             <br>
           <br>
              <!-- Contact Section Heading -->
              <h2 class="text-center text-uppercase text-secondary mb-0"> </h2>
        
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
        
              <!-- Contact Section Form -->
              <div class="row" style="margin-left:-300px">
                <div class="col-lg-8 mx-auto">
                  <h3>Data Set Uploaded</h3>
            {{ df_view.to_html(classes="table striped",na_rep="-") | safe}}
                  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                </div>

            
              </div>
               
          </section>
          <br>
          <br>

         <div class="form-group" style="padding:0px 250px 10px 40px;height:200px">
                            <input style="margin-left:500px" type="button" onclick="hideLoader()" class="btn btn-primary" value="Click to Train | Test" />
                  <div id="loading" style="display:None;margin-top:552950px"></div>
                  </div>
        
        
          <!-- Copyright Section -->
          <section class="copyright py-4 text-center text-white">
            <div class="container">
             
            </div>
          </section>
        
          <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
          <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        
        
          <!-- Bootstrap core JavaScript -->
          
          
          <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
           <script type='text/javascript'>
           
        function hideLoader() {  
        $('#loading').show(0).delay(10000).hide(0,function(){
             alert("Training finished!");
           window.location = "{{url_for('predict')}}";
           });    
        }
        
        
           </script>
           
        
        </body>





      </div>
    </section>

  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/custom.js"></script>
</body>

</html>