<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Movie Recommendation System</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/upload.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <link href="../static/css/style.css" rel="stylesheet" />
  <style>
  .background-image {
    background-image: url('../static/images/file-upload-site-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120%;
    width: 120%;
    position: absolute;
    top: 0;
    left: 0;
  }</style>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <div class="hero_bg_box2">
        <div class="background-image">
         
        </div>
      </div>
  
      <header class="header_section">
        <div class="header_top">
          <div class="container-fluid">
            <div class="contact_link-container">
            
            </div>
          </div>
        </div>
        <div class="header_bottom">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
              </button>
  
              <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                  <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('index')}}"> Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('login')}}"> Login </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
  
      </header>
  
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                   
                        <span>
                          Movie Gross Value Prediction
                        </span>
                      </h1>
                      <p>
                        Upload 
                      </p>
                      <div class="btn-box">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
           Upload Dataset 
          </h2>
        </div>
      </div>
      <div class="container">
      
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:450px;">
		  
          <form action="http://localhost:5000/preview" name="fs" id="fs" method="POST" enctype=multipart/form-data>
                       <br/>
                      <input type="file" name="datasetfile" id="file1" required /> 
                       <br/>
             <br/>
             <br/>
                    <input type="submit" style="margin-left:100px" class="btn btn-success btn-large" value="Upload"> 
                      </form>
      </div>




      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    

    <!-- end client section -->

  </div>
  <!-- info section -->

  <!-- <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      
    </div>


  </section> -->


  <!-- end info section -->

  <!-- footer section -->
   
  <!-- footer section -->

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>

</body>

</html>